* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Space Mono', monospace;
	height: 100%;
	background-color: #B78938;
	/*background-color: #A4A4A4;*/
	overflow-x: hidden;

}

.navbar {
	width: 100%;
	background-color: #F7F7F7;
	position: fixed;
	top: 0;
	z-index: 100;
}

.navbar > .navbar-title {
	list-style-type: none;
	margin: 0;
	float: left;
	font-size: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin: 0;
	float: right;
	font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.navbar > .navbar-list > .navbar-item > .navbar-link {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 0, 0, 0.92);
	transition: all 0.5s;
}

.navbar > .navbar-list > .navbar-item.active > .navbar-link {
	color: #F7F7F7;
	background-color: #B78938;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover {
	color: #F7F7F7;
	background-color: #B78938;
}

.header > .title-img {
	width: 100%;
	background-image: url("../images/portada.jpg");
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.header > .title {
	position: absolute;
	top: 33%;
	width: 100%;
	font-family: 'Frijole', cursive;
	color: #263238;
	text-align: center;
	font-size: 45px;
	font-style: italic;
	text-shadow: -5px -5px 5px #aaa;
}

/* Animation Title */

.header > .title > p {
  	white-space: nowrap;
  	overflow: hidden;
  	width: 100%;
  	animation: type 4s steps(60, end); 
}

.header > .title > p:nth-child(2){
  	animation: type2 8s steps(60, end);
}

.header > .title > p {
  	text-decoration: none;
}

.author:hover {
	text-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2.5);
    transition: all 200ms ease-in;
    transform: scale(2.5);
}

@keyframes type{ 
  	from { width: 0; } 
} 

@keyframes type2{
  	0%{width: 0;}
  	50%{width: 0;}
  	100%{ width: 100; } 
} 

@keyframes blink{
  	to{opacity: .0;}
}

.header > .title > .author {
	font-style: normal;
}

h2 {
	color: #212121;
	font-style: italic;
}

.section-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-content-reverse {
	background-color: #fdfefe;
	color: darkslategray;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

.row-foto-info {
	display: flex;
}

.row-foto-info > .foto {
	max-width: 50%;
	float: left;
}

.row-foto-info > .info-me {
	max-width: 60%;
	float: right;
	text-align: justify;
	margin-left: 5%;
}

.foto img {
	height: 450px;
	max-width: 100%;
	border-radius: 50%;
	padding-top: 50px;
}

.section-title {
	text-align: center;
	font-size: 35px;
}

.companies {
	float: left;
	width: 60%;
	text-align: justify;
}

/* List Style */

.ul_list {
  	list-style: none;
}

.li_list {
	text-indent: -10px;
 }

.material-icons.md-48 { 
	font-size: 48px;
 }

/* Separador */

hr.separator { 
  height: 30px; 
  margin-top: 5%;
  border-style: solid; 
  border-color: #B78938; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr.separator:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #B78938; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.skills {
	display: flex;
	flex-direction: column;
	float: right;
	width: 30%;
}

/* Progress Bar */

.skills > .progress-bar {
    background-color: #1a1a1a;
    height: 27px;
    padding: 5px;
    width: 100%;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.skills >.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span {
    background-color: #34c2e3;
	width: 90%;   
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.red span {
      background-color: #f97a7a;
      background-image: linear-gradient(top, #f97a7a,   #f01717);  
}

.purple span {
      background-color: #e1bff3;
      background-image: linear-gradient(top, #e1bff3,   #ba41fa);  
}

.skills > .stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
    0% {
		background-position: 0 0;
	} 
	100% {
		background-position: 60px 0;
	}
}

.about-me > .hobbies {
	max-width: 50%;
	float: left;
	text-align: justify;
}

.about-me > .me-video {
	max-width: 50%;
	float: right;
}

.container {	
	min-height: 100%;
	margin-bottom: -50px;
}

.footer {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.92);
	height: 50px;
	color: #F7F7F7;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

